<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false"
         version="5.0">
    <display-name>by.it_academy.team1.usermessage</display-name>

    <servlet>
        <servlet-name>jsp-servlet</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp-servlet</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>by.it_academy.team1.usermessages.listeners.DatabaseActiveSessionUsersListener</listener-class>
    </listener>

    <listener>
        <listener-class>by.it_academy.team1.usermessages.listeners.DefaultDataInitializer</listener-class>
    </listener>

</web-app>